{% include 'header_login.html' %}
    <section class="content" >
      <div style="padding: 10px;">
        <div class="col-md-4" style="margin: auto; margin-top: 130px;">
          <div class="card card-dark" style="padding: 10px;">
            <div class="col">
              <div class="row" style="float: left; margin-top: 80px;">
                  <img src="{{ url_for('static', filename='dist/img/gaji2.png')}}" border="0" style="max-width: 120px; width: 120px; height: auto; margin-left: 17px;">
              </div>
              <div class="row-md-6" style="float: right;">
                <form role="form" action="{{ url_for('login') }}" method="POST" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" style="background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20210115/pngtree-white-elegant-texture-abstract-geometric-minimalistic-background-image_523653.jpg'); background-size: cover;">
                  <!-- <div>
                    <img src="{{ url_for('static', filename='dist/img/gaji2.png')}}" border="0" style="margin: auto; max-width: 180px; width: 180px; height: auto;">
                  </div> -->
                  <div class="modal-header">						
                    <h3 class="modal-title">Form Login</h3>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label for="username">Username</label>
                      <input type="text" class="form-control" id="nik" name="username" required>
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="text" class="form-control" id="nama" name="password" required>
                    </div>
                  </div>
                  <div class="card-footer" style="background-color: #C0C0C0;">
                    <button type="submit" class="btn btn-primary" style="float: right;"><i class="fas fa-sign-in-alt"></i>&nbsp; Login</button>
                  </div>
                  {% if msg %}
                    <div class="alert">
                      <span class="close_ex" onclick="this.parentElement.style.display='none';">&times;</span> 
                      <strong>Gagal!</strong> Username / Password Salah. Silahkan Coba Lagi.
                    </div>
                  {% endif %}
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% include 'footer_login.html' %}